/*========================================


  Universal Styling


===========================================*/

* {
    margin: 0;
    padding: 0;
    border: 0px;
    font-family: 'Rubik', sans-serif;
}

.nav-logo {
    float: left;

}

.navlist {
    float: right;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    right: 0;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #7d7d7d;
  }

.white-button {
    display: inline-block;
    transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px 20px;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;

}

.white-button:hover {
    color: #001F3F;
    background-color: #fff;
}

.home-container {
    position: relative;  
    width: 100%;  
    height: 100px;
}

.home-left-block {
    position: absolute;  
    left: 0px;  
    top: 300px;  
    bottom: 0;  
    width: 50%;  
    box-sizing: border-box; 
    padding: 0px;

}

.home-right-block {
    position: absolute;  
    top: 200px;  
    right: 0;  
    bottom: 0;  
    width: 50%;  
    box-sizing: border-box;  
}

.about-container {
    position: relative;  
    width: 150%;  
    height: 100px;
}

.about-left-block {
    position: absolute;  
    left: 10;  
    right: 550px;
    top: 10px;  
    bottom: 0;  
    width: 50%;  
    box-sizing: content-box; 

}

.about-right-block {
    position: absolute;  
    top: 150px;  
    right: 100px;  
    bottom: 0;  
    width: 50%;  
    box-sizing: content-box; 

}

.aboutme {
    padding-top: 100px;

}

.mywork {
    text-align: center;
}

.blacktext {
    color: #333;
}

.blackbutton{
    display: inline-block;
    transition: all .5s ease;
    color: #333;
    border: 2px solid #333;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px 20px;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;
    
}


.workex1 {
    width: 500px;
    background-color: white;
    box-sizing: border-box; 
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    justify-content: center;

}

.workex2 {
    width: 500px;
    background-color: white;
    box-sizing: border-box; 
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    justify-content: center;

}

.workex3 {
    width: 500px;
    background-color: white;
    box-sizing: border-box; 
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    justify-content: center;

}

.resume {
    width: 500px;
    background-color: white;
    box-sizing: border-box; 
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    justify-content: center;

}

.contact-container {
    text-align: center;
    max-width: 600px;
    display: fixed;
    padding-left: 400px ;
}

h2 {
    margin-top: 40px;
    color: #ededed;
    text-align: left;
    font-size: 400%;
    font-family: Sarina;
    display: inline;
}

h3 {
    color: #ededed;
    font-size: 200%;
    padding-bottom: 30px;
}


p {
    color: #ededed;
    padding-bottom: 30px;
    text-align: left;
    font-size: 120%;
}

body {
    background: #333 ;

}

.container {
    margin: 0 auto;
    max-width: 600px;

}

form {
    background: #ededed;
    padding: 15px 20px;
    max-width: 400px;
    border-radius: 10px;
    color: #333;
    font-family: sans-serif;
    font-size: 120%;
    text-align: left;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

label {
    font-weight: bold;
}

.label_input_wrap {
    display: block;
}

.submit input {
    background: #333;
    color:#fff;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 40px;
    max-width: 120px;
    font-family: sarina;
}

.input {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 30px;
    width: 370px;
    margin-top: 5px;
    background-color: #7d7d7d;
    color:white

}

textarea {
    font-family: sans-serif;
    padding: 10px;
    margin-left: 20px;
}

::selection {
    color: #333;
    background: #ededed;

}
